body{
    padding: 0 2em 0 2em;
    margin: 0;
}



.navbar {
    list-style-type: none;
    display : flex;
    justify-content: space-between;
    padding: 0;

}

#navright {
    display : flex;
    width: 30%;
    justify-content: flex-end;
    gap: 60px;
    transition: color 0.3s ease;
}

#navright li {
    position: relative;
    font-size: small;
}

#navright li::before{
    content: '';
    position: absolute;
    bottom: 150%;
    left: 0;
    width: 0.6;
    height: 1.8px;
    background-color: blue;
    
}

#navright li:hover::before {
    width: 100%;
}

#navright li:hover{
    color: blue;
}

#navleft {
    color: blue;
    font-size: x-large;
}

#navigation {
    display : flex;
    position: relative;
    justify-content: space-between;
}

#Localisation {
    margin-top: 4em;
}

#title {
    font-weight: bold;
    margin-bottom: 5px;
}

#type {
    font-size: small;
    margin-top: 5px;
}

.container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 0px;
    height: 1em;
    margin-top: 30px;
    margin-right: 700px;
    
  }

  .icon-container {
    background-color: #ccc;
    border-radius: 20% 0 0 20%;
  }

  .icon-container svg {
    width: 14px;
    height: 14px;
    margin: 0.5em;
}

  .text-input {
    border: none;
    background: transparent;
    outline: none;
    flex-grow: 1;
    border: 1px solid #ccc;
    height: 190%;
  }

  .Rechercher {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px 7px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }

.Rechercher:hover {
    background-color: darkblue;
}

#Filtres {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
}

.FilterButtons {
    display: flex;
    gap: 6px;
}

.FilterButtons button {
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 5px 10px 7px;
    border-radius: 140px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 5px;
    margin-top: 9px;
}

.FilterButtons button i {
    color: blue;
    font-size: 15px;
}

.FilterButtons button:hover {
    background-color: #ccc;
}

.FilterButtons .Pepites {
    background-color: lightskyblue;
}

.Info {
    margin-top: 3%;
    font-size: 80%;
    margin-bottom: 3%;
}

.Info i {
    color: blue;
    font-size: 15px;
    margin-right: 5px;
}

.Ville {
    background-color: #ccc;
    border-radius: 9px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.photo {
    background-color: white;
    border-radius: 20px;
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.photo img {
    max-width: 100%;
    max-height: 70%;
    object-fit: cover;
    border-radius: 20px;
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#subtitle {
    font-size: 80%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

#price {
    font-size: 65%;
    margin-top: 1px;
    margin-bottom: 0px;
}

.stars {
    font-size: 70%;
    margin-top: 1px;
    color: blue;
}


.Ville #Marseille {
    font-size: 90%;
    font-weight: bold;
}

.Ville #plus {
    font-size: 70%;
    font-weight: bold;
}

footer {
    background-color: #ccc;
    padding: 1em 1em;
    margin-top: 10px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2em;
    flex-wrap: wrap;
}

.footer-column h3 {
    font-size: 80%;
    margin-bottom: 0.5em;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 75%;
}


.footer-column li {
    margin-bottom: 0.5em;
    font-size: 0.9em;
    line-height: 1.5;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-column li:hover {
    color: blue;
    text-decoration: underline;
}
